* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.w-70 {
  width: 70%;
}

.w-40 {
  width: 40%;
}

.font-weight-bold {
  font-weight: bold;
}

nav {
  z-index: 20;
  background-color: #fff;
  height: 42px;
  width: 100%;
  padding: 4px 15px 2px 15px;
  top: 0px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.wrapper {
  margin-top: 52px;
}

#left-top-nav {
  width: 220px;
}

.hamburger-button {
  width: 14px;
  height: 2px;
  background-color: black;
  margin: 2px 0;
}

#fa-search {
  font-size: 15px;
}

#ny-logo {
  margin: 0 auto;
  font-size: 24px;
}

#button-wrapper {
  margin-left: auto;
}

#subscribe, #log-in {
  background-color: rgb(88, 133, 158);
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
}

#article-title {
  font-size: 42px;
  width: 50%;
  margin: 0px auto;
  padding: 30px 0;
}

#image-wrapper {
  width: 80%;
  margin: 0 auto;
}

#image-footer {
  font-size: 15px;
  color: rgb(94, 94, 94);
  width: 75%;
}

.text-muted {
  color: rgb(167, 167, 167);
  
}

article {
  width: 55%;
  margin: 40px auto 0px auto;
}

article p {
  font-size: 21px;
  margin-bottom: 10px;
}

#article-author {
  font-size: 1.25rem;
  margin-bottom: 25px;
}

.text-underline {
  text-decoration: underline;
}

#article-date {
  font-size: 14px;
  color: rgb(97, 97, 97);
}

#fa-things {
  font-size: 16px;
  margin-left: auto;
  margin-bottom: 20px;
}

#fa-things i {
  padding: 5px 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 50%;
  
}

#unlock-articles {
  margin: 15px auto;
  text-align: center;
}

#unlock-articles a {
  text-decoration: none;
  color: rgb(88, 133, 158);
}

#unlock-articles hr {
  margin: 8px auto;
}

#mid-article-wrapper {
  width: 85%;
  margin: 0 auto;
}

#mid-article-wrapper img {
  
}

#div-desc{
  font-size: 20px;
  margin-bottom: 10px;
}

#div-desc-hint {
  color: rgb(92, 92, 92);
  font-size: 15px;
  margin-bottom: 15px;
}

#p-1 {
  top: 150px;
  width: 200px;
  font-size: 13px;
}

#p-2 {
  top: 150px;
  left: 240px;
  width: 200px;
  font-size: 13px;
}

#p-3 {
  top: 150px;
  width: 200px;
  left: 480px;
  font-size: 13px;
}

#p-4 {
  top: 150px;
  width: 200px;
  left: 720px;
  font-size: 13px;
}

#p-5 {
  top: 420px;
  width: 200px;
  font-size: 13px;
}

#p-6 {
  top: 420px;
  width: 200px;
  left: 240px;
  font-size: 13px;
}

#p-7 {
  top: 420px;
  width: 200px;
  left: 480px;
  font-size: 13px;
}

#p-8 {
  top: 420px;
  width: 200px;
  left: 720px;
  font-size: 13px;
}

#mid-article-images p {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

#mid-image-hr {
  width: 10%;
  margin-bottom: 15px;
}

#image-by {
  font-size: 13px;
}